<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="16406MoteLabs.Flinger.co" Version="1.0.0.14" Publisher="CN=608A90AD-D749-4EC4-9E34-B80C533CA526" />
  <Properties>
    <DisplayName>Flinger.co</DisplayName>
    <PublisherDisplayName>Mote Labs</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="Microsoft.SDKSamples.ShareTargetSample" StartPage="index.html">
      <VisualElements DisplayName="Flinger.co Remote" Logo="Win8_App_Icon_150.png" SmallLogo="Win8_App_Icon_150.png" Description="Flinger turns every computer into a smart tv remote controller. Fling your favorite YouTube videos to your TV. Share your channel with friends and fling videos to each other in real-time. On your TV goto http://tv.flinger.co/" ForegroundText="light" BackgroundColor="#e65f53" ToastCapable="false">
        <DefaultTile ShortName="Flinger.co Remote" ShowName="allLogos" />
        <SplashScreen BackgroundColor="#e65f53" Image="Win8_App_Icon_150.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget" StartPage="target.html">
          <ShareTarget>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
            <DataFormat>text</DataFormat>
            <DataFormat>uri</DataFormat>
            <DataFormat>bitmap</DataFormat>
            <DataFormat>html</DataFormat>
            <DataFormat>http://schema.org/Book</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>